
.listOperator-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 75px;
    height: 75px;
    border-radius: 15px;
    font-size: 40px;
}